body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Добавим прозрачный белый фон для контента */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Добавим тень для контейнера */
}
.logo {
    margin-bottom: 20px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #333;
    background-color: #ffc107;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #ff9800;
}
/* Медиазапросы */
@media (max-width: 1024px) {
    .container {
        padding: 15px;
    }
    .btn {
        padding: 8px 16px;
        margin: 8px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 15px;
    }
    .btn {
        padding: 8px 16px;
        margin: 8px;
    }
}
@media (max-width: 600px) {
    .container {
        max-width: 95%;
        padding: 10px;
    }
    .logo {
        margin-bottom: 15px;
    }
    .btn {
        padding: 6px 12px;
        margin: 6px;
    }
}
@media (max-width: 480px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }
    .btn {
        padding: 5px 10px;
        margin: 5px;
        font-size: 14px;
    }
}
@media (max-width: 360px) {
    .container {
        max-width: 100%;
        padding: 5px;
    }
    .btn {
        padding: 4px 8px;
        margin: 4px;
        font-size: 12px;
    }
}
